.App {
  text-align: center;
}

.need-card {
  background-color: aqua;
  height: 250px;
  width: 250px;
  margin: 16px;
  padding: 16px;
}

#navbar {
  padding: 16px;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-button {
  margin-right: 16px;
}

#welcome-message{
  margin-right: 32px;
}

#needs-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}